nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Baloo 2";
    font-size: 2rem;
    background: url('img/pastaimg.3.jpg');
    background-size: contain;
    background-position: center;
}
nav > h1{
background-color: #dc2416e0;
}
nav > h3{
    background-color:#dc2416e0;
}
#login a {
    color: blue;
    font-weight: 700;
}
#login a:hover{
    background-color: rgba(228, 10, 152, 0.43);
    border-radius: 13px;
}
#section1 {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    background-color: rgba(228, 10, 152, 0.326);
}

#section1>img {
    width: 35%;
    border-radius: 30%;
    box-shadow: 6px 6px orange;
}

#section1>h1 {
    background-color: peachpuff;
}

#section1>h1>a {
    font-size: 4rem;
    text-decoration: none;
}
#secinsec1{
    justify-content: center;
    align-items: center;
    display: flex;
}
#secinsec1>img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
}
#specialoffer{
    animation: vishu 1.5s ease-in-out infinite;
    width: 100vw;
    display: block;
    text-align: center;
    font-size: 2.8rem;
}
#section2{
    background-color: antiquewhite;
    /* text-shadow: 2px 3px grey; */
    font-weight: bold;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}
#secinsection2{
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 48%));
    grid-gap: 20px;
    justify-content: center;
}
#secinsection2 a{
    /* text-decoration:wavy; */
    color: #ff007b;
}
.section{
    border: 4px solid rgb(248, 0, 178);
    text-align: center;
}
#section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: large;
    color: black;
    background: url('img/flag.jpeg');
    background-size: contain;
    animation: vishu 3.5s ease-in-out infinite;
}
@keyframes vishu{
    0%{
        color: black;
    }
    50%{
        color: blueviolet;
    }
    100%{
        color: red;
    }
}
#section4{
    margin-top: 4vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(178px, 49%));
    grid-column-gap: 2.3px;
}
#section4 img{
    height: 8em;
    width: 8em;
    border-radius: 50%;
}
.boxes{
    border: 4px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255 193 7 / 50%);
}
.boxes a{
    text-decoration: none;
    font-size: 3.8rem;
}
footer{
    text-align: center;
    background-color: #ff007b;
}